<header class="container flex items-center gap-20 py-4">
  <a routerLink="/" class="flex items-center gap-4">
    <img src="assets/urban-bird-logo.svg" alt="Logo Urban Bird" class="w-14" />
    <div>
      <p class="text-3xl font-bold text-blue-600">Urban</p>
      <p class="text-3xl font-bold text-blue-800">Bird</p>
    </div>
  </a>
  <img src="assets/cart-icon.svg" alt="ícone carrinho" class="w-14" />
</header>
<nav class="bg-blue-700">
  <ul class="container flex gap-8 py-2">
    <li>
      <a
        routerLink="/restaurantes"
        routerLinkActive="!text-slate-50"
        class="text-slate-300 transition hover:text-slate-50"
        >Restaurantes</a
      >
    </li>
    <li>
      <a
        routerLink="/diversao"
        routerLinkActive="!text-slate-50"
        class="text-slate-300 transition hover:text-slate-50"
        >Diversão</a
      >
    </li>
  </ul>
</nav>
