<section class="container mx-auto pb-14 pt-8">
  @if (offer$ | async; as offer) {
    <h2 class="text-2xl font-bold text-slate-600">
      {{ offer.descricao_oferta }}
    </h2>
    <div class="mt-1 flex justify-around">
      <div class="flex w-80 flex-col items-center gap-2">
        <img
          [src]="offer.imagens[0].url"
          [alt]="offer.descricao_oferta"
          class="h-60 w-full object-cover"
        />
        <div class="flex w-full gap-1">
          @for (img of offer.imagens; track $index; let isFirst = $first) {
            @if (!isFirst) {
              <div class="flex-1">
                <img
                  [src]="img.url"
                  [alt]="offer.descricao_oferta"
                  class="h-28 w-full object-cover"
                />
              </div>
            }
          }
        </div>
      </div>
      <div class="flex flex-col items-center">
        <p class="text-sm">Por apenas</p>
        <p class="mt-3 text-3xl font-bold">
          {{ (offer$ | async)?.valor | currency: "BRL" }}
        </p>
        <button
          class="mt-3 rounded border border-yellow-500 bg-yellow-500 px-3 py-2 text-slate-50 transition hover:border-yellow-700 hover:bg-yellow-700"
        >
          Adicionar ao carrinho
        </button>
      </div>
    </div>
    <div class="mt-7 rounded border border-slate-300 p-4 shadow">
      <div class="flex gap-2">
        <a
          routerLink="como-usar"
          class="rounded-sm border px-2 py-1 shadow transition hover:shadow-none"
          routerLinkActive="border-slate-600"
          >Como usar</a
        >
        <a
          routerLink="onde-fica"
          class="rounded-sm border px-2 py-1 shadow transition hover:shadow-none"
          routerLinkActive="border-slate-600"
          >Onde fica</a
        >
      </div>
      <div class="mt-3">
        <router-outlet />
      </div>
    </div>
  }
</section>
