<section>Banner</section>
<section>
  <h1>Destaques do dia!</h1>
  <h2>Aproveite as super ofertas que separamos para você:</h2>
  <div>
    <div>
      <div>img</div>
      <div>
        <p>Super Burger</p>
        Rodízio de mini-hambúrguer com opção de entrada.
      </div>
      <div>R$ 29,90</div>
      <button>Ver oferta</button>
    </div>

    <div>
      <div>img</div>
      <div>
        <p>Cozinha Mexicana</p>
        Almoço ou Jantar com Rodízio Mexicano delicioso.
      </div>
      <div>R$ 32,90</div>
      <button>Ver oferta</button>
    </div>

    <div>
      <div>img</div>
      <div>
        <p>Estância das águas</p>
        Diversão de bebidas e sobremesas na estancia das águas.
      </div>
      <div>R$ 31,90</div>
      <button>Ver oferta</button>
    </div>
  </div>
</section>
